/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease;
    font-size: 16px;
}

/* Backgrounds for different platforms */
body.steam {
    background-image: url('assets/img/steam-background.jpg');
}

body.epic {
    background-image: url('assets/img/epic-background.jpg');
}

body.ea {
    background-image: url('assets/img/ea-background.jpg');
}

body.ubisoft {
    background-image: url('assets/img/ubisoft-background.jpg');
}

body.battlenet {
    background-image: url('assets/img/battlenet-background.jpg');
}

body.nintendo {
    background-image: url('assets/img/nintendo-background.jpg');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 80px; /* Adjusted padding-bottom to accommodate footer */
}

h1, h2, h3, h4 {
    color: #007bff;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #343a40; /* Color de fondo del footer */
    color: #ffffff;
    padding: 10px 0; /* Padding ajustado */
    position: fixed; /* Cambio a fixed para mantener el footer en la parte inferior */
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el footer esté sobre otros contenidos */
}

.footer .container {
    background-color: #343a40; /* Mismo color de fondo que el footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Ajustado para que el fondo del contenedor se alinee con el footer */
}

.footer .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .social-icons li {
    display: inline;
    margin: 0 10px;
}

.footer .social-icons a {
    color: #ffffff;
    text-decoration: none;
}

.footer p {
    margin: 0;
    padding: 5px 0; /* Padding reducido para mantener el diseño compacto */
}

/* Buttons */
.btn {
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #00408c;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    outline: none;
}

/* Carousel */
.carousel-item img {
    width: 100%;
    border-radius: 0.5rem;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 0.25rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

/* Form */
.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    border-radius: 0.25rem;
    box-shadow: none;
}

.form-check-label {
    margin-bottom: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Modal */
.modal-content {
    border-radius: 0.25rem;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

/* Result and Previous Results */
#result, #previous-results {
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 15px;
}

.result-item {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 10px;
    margin-bottom: 10px;
}

.result-item h4 {
    margin-top: 0;
}
